{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": ["> 2%", "IE 11"],
                "uglify": true
            }
        }]
    ]
}
